@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@font-face {
  font-family: Glacial-Regular;
  src: url(../fonts/WEB/GlacialIndifference-Regular.woff);
}

@font-face {
  font-family: Glacial-Bold;
  src: url(../fonts/WEB/GlacialIndifference-Bold.woff);
}

/*Body Background*/
/*Yellow curriculum background color*/
/*Titles for curriculum*/
.curriculum-information-title {
  font-size: 16px;
  font-weight: bold;
  font-family: Glacial-Bold;
}

/*A tag*/
a {
  text-decoration: none;
  color: #000;
  line-height: 1.5;
}

a:hover {
  color: #f2c53d;
  font-weight: bold;
}

h3 {
  font-family: Glacial-Bold;
}

/*Font-weight Bold for text*/
.text_bold {
  font-weight: bold;
}

@media (min-width: 1920px) {
  .right-information-card {
    /*Project Name/Company name*/
  }
  .right-information-card .right-information-title {
    font-size: 16px;
  }
  .right-information-card .right-information-role {
    font-size: 14px;
  }
  .right-information-card .right-information-list .right-information-list-item {
    font-size: 14px;
  }
}
