@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
$Font-Pt-Sans: "PT Sans", sans-serif;

/*Body Background*/
$Body-Background: rgb(82, 86, 89);

/*Yellow curriculum background color*/
$Orange-Curriculum: #f2c53d;
