@import "./variables";

/*Titles for curriculum*/
.curriculum-information-title {
  font-size: 16px;
  font-weight: bold;
  font-family: $Font-Glacial-Bold;
}
/*A tag*/
a {
  text-decoration: none;
  color: #000;
  line-height: 1.5;

  &:hover {
    color: $Orange-Curriculum;
    font-weight: bold;
  }
}

h3 {
  font-family: $Font-Glacial-Bold;
}
/*Font-weight Bold for text*/
.text_bold {
  font-weight: bold;
}

@media (min-width: 1920px) {
  .right-information-card {
    /*Project Name/Company name*/
    .right-information-title {
      font-size: 16px;
    }

    .right-information-role {
      font-size: 14px;
    }

    .right-information-list {
      .right-information-list-item {
        font-size: 14px;
      }
    }
  }
}
